*{
    background-image: url(./Images/BackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    text-align: center;
}
h1{
    color: cornflowerblue;
    
}
nav{
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content:space-between;
    text-decoration: none;
    background-color: fuchsia;
}
li{
    list-style: none;
}
link{
    text-decoration: none;
}
button{
    padding: 1rem;
    margin-top: 20px;
    border-radius: 1rem;
}
input{
    padding: 1rem;
    margin-top: 20px;
}
#message{
    padding: 4rem;
}
